modules = ["nodejs-20", "web"]
[agent]
expertMode = true
integrations = ["javascript_database:1.0.0"]

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 6000

[[ports]]
localPort = 32973
externalPort = 5000

[[ports]]
localPort = 33339
externalPort = 8008

[[ports]]
localPort = 33759
externalPort = 5173

[[ports]]
localPort = 35277
externalPort = 4200

[[ports]]
localPort = 37797
externalPort = 6800

[[ports]]
localPort = 38221
externalPort = 3001

[[ports]]
localPort = 38921
externalPort = 3002

[[ports]]
localPort = 41113
externalPort = 3003

[[ports]]
localPort = 42273
externalPort = 3000

[[ports]]
localPort = 42403
externalPort = 8000
